* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: url('../../src/assets/background.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}
