.nav__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav__header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000001;
  backdrop-filter: blur(5px);
  z-index: -1;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  font-size: 2.8rem;
  cursor: pointer;
  display: none;
}

.navbar__menu-link {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

.navbar__menu-link:hover,
.logo:hover {
  color: #2f4f4f;
  transition: 300ms ease;
}

/* BREAKPOINTS */

@media (max-width: 992px) {
  .nav__header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    right: 5%;
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .icons #close-icon {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #0001;
    backdrop-filter: blur(5px);
    transition: 300ms ease;
    overflow: hidden;
  }

  #menu-icon {
    color: #fff;
  }

  #close-icon {
    color: #fff;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .navbar__menu-link {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
  }
}
